<div class="modal-header">
	<div>
		<label for="projectName">Project:-</label> {{project.projectName}}
	</div>
</div>
<div class="modal-body">
	<div>
		<label for="Name">StudentName:-</label> {{project.studentName}}
	</div>
	<div>
		<label for="Name">StudentId:-</label> {{project.studentIdNum}}
	</div>
	<div ng-if="project.currentStatus === 'Completed' ">
		<label for="Name">Marks:-</label> {{project.studentMarks}}
	</div>
	<div ng-if="project.currentStatus === 'Completed'">
		<label for="Name">Result:-</label> {{project.result}}
	</div>
	<form>
		<div class="form-group">
			<label for="projectdesc">Project Description</label>
			<textarea class="form-control desc-overlow" id="projectdesc"
				uib-tooltip="{{project.description}}" tooltip-trigger="'focus'"
				tooltip-placement="right" tooltip-append-to-body="false"
				ng-disabled="true" ng-model="project.description"></textarea>
		</div>
		<div class="form-group " ng-if="project.currentStatus =='Submitted' || project.currentStatus =='Rejected' ">
			<label for="projectdesc">Review-1</label>
			<textarea class="form-control desc-overlow" id="reviewcomments1"
			   ng-disabled="project.currentStatus !='Submitted' && project.currentStatus !='Rejected'"
				ng-model="project.staffComments1"></textarea>
		</div>
		<div class="form-group " ng-if="project.currentStatus =='FinalSubmission' ">
			<label for="projectdesc">Review-2</label>
			<textarea class="form-control desc-overlow" id="reviewcomments2"
			ng-disabled="project.currentStatus =='Completed'"
				ng-model="project.staffComments2"></textarea>
		</div>
		<div class="form-group"
			ng-if="(project.currentStatus=='FinalSubmission' || project.currentStatus == 'Completed') ">
			<label for="Name">Code Url</label> <input type="text"
				class="form-control" id="projectUrl" ng-model="project.projectUrl"
				ng-disabled="true">
		</div>
		<div class="form-group"
			ng-if="(project.currentStatus== 'FinalSubmission' || project.currentStatus ==  'Completed') ">
			<label for="Name">Project Url</label> <input type="text"
				class="form-control " id="domainUrl" ng-model="project.domainUrl"
				ng-disabled="true">
		</div>

		<div class="form-group" ng-if="project.currentStatus == 'Submitted' ">
			<div class="btn-group">
				<label class="btn btn-success" uib-btn-radio="'Approved'"
					ng-model="project.status">Approved</label> <label
					class="btn btn-success" uib-btn-radio="'Rejected'"
					ng-model="project.status">Rejected</label>
			</div>
		</div>
		
		<div class="form-group" ng-if="project.currentStatus == 'FinalSubmission' ">
			<div class="btn-group">
				<label class="btn btn-success" uib-btn-radio="'Completed'"
					ng-model="project.status">Completed</label> <label
					class="btn btn-success" uib-btn-radio="'Rejected'"
					ng-model="project.status">Rejected</label>
			</div>
		</div>

		<div class="form-group"
			ng-if="project.currentStatus=='FinalSubmission' ">
			<label for="Name">Marks</label> <input type="text"
				class="form-control" id="marks" ng-model="project.studentMarks">
		</div>

		<div class="form-group"
			ng-if="project.currentStatus=='FinalSubmission'">
			<div class="btn-group">
				<label class="btn btn-success" uib-btn-radio="'Pass'"
					ng-model="project.result">Pass</label> <label
					class="btn btn-success" uib-btn-radio="'Fail'"
					ng-model="project.result">Fail</label>
			</div>
		</div>

		<div class="form-group">
			<button class="btn btn-primary btn-align"
			ng-if="project.currentStatus != 'Completed'"
				ng-click="updateToStudent()">Save</button>
			<button class="btn btn-warning " ng-click="cancel()">Close</button>
		</div>
		
		
	</form>

</div>

