<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid">
		<uib-tabset active="activeJustified" justified="true"> <uib-tab
			index="1" heading="Project Initial Submission"
			ng-click="callInitialSubmission()">

		<form>
			<div class="form-group">
				<label for="Name">Project Name</label> <input type="text"
					class="form-control form-wdth" id="projectname"
					ng-model="project.name" ng-disabled="project.status=='Approved'">
			</div>

			<div class="form-group">
				<label for="projectdesc">Project Description</label>
				<textarea class="form-control heigh-width-auto" id="projectdesc"
					ng-disabled="project.status=='Approved'"
					ng-model="project.description"></textarea>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary mb-2"
					ng-click="submitProject()" ng-disabled="project.status=='Approved'">Submit</button>
			</div>

		</form>


		</uib-tab> <uib-tab index="0" heading="Project Final Submission"
			ng-click="submitFinalSubmission()">Project Final Submission</uib-tab>


		<uib-tab index="2" heading="Project Marks"
			ng-click="viewProjectMarks()">

		<div class="card bg-info">
			<div class="card-body text-center">
				<p class="card-text">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ProjectName</th>
							<th>Name of The Student</th>
							<th>Marks</th>
							<th>Result</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{project.name}}</td>
							<td>{{project.studentName}}</td>
							<td>{{project.studentMarks}}</td>
							<td>{{project.result}}</td>
						</tr>
					</tbody>
				</table>
				</p>
			</div>
		</div>

		</uib-tab> </uib-tabset>




	</div>
</body>
</html>